body {
    background-color: #8CA1AD;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 90%;
}

.country-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.country-card img {
    width: 80px;
    height: 60px;
}

.country-card p {
    margin-top: 10px;
    font-size: 14px;
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(7, 1fr);
    }
}

.search-container {
    margin: 20px;
}